.App {
  text-align: center;
  align-items: center;
}

.Image-Container {
  display: flex;
  justify-content: center;
}

.Audio-Container {
  margin-top: 40px;
}

.Audio-Title {
  color: #45403c;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.navbar h1 {
  margin-top: 40px;
  color: #45403c;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}

.Main-Image {
  width: 20%;
  height: auto;
}

@media only screen and (max-width: 600px) {
  .navbar h1 {
    margin-top: 50px;
  }

  .Main-Image {
    width: 200px;
    height: auto;

  }
}