/* SETUP CSS USING TEMPLATE */

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  /*max-width: 100%;*/
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/*
COLOURS FROM PALETTE
5F6F52
A9B388
FEFAE0
B99470
*/

.navbar {
  background-color: rgba(255, 255, 255, 0.158);
  position: relative;
  flex: auto;
  flex-direction: column;
  position: sticky;
}

.navbar-content {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar h1 {
  color: #590e17;
}

.navbar-title {
  margin: 0 10px 10px 10px;
  font-family: 'Pixelify Sans', sans-serif;
  /*border-bottom: 1px solid rgb(205, 205, 205);*/
}

.mute-button {
  justify-content: right;
}

h1 {
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 1.5rem;
  flex-direction: row;
  text-align: left;
  padding: 16px;
}

body {
  background-color: white;
  background-image: url('assets/pixilart-drawing.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.centered {
  padding: 70px;
  text-align: center;
  flex: auto;
  flex-direction: column;
  justify-content: center;
  justify-content: space-between;
}

.sound-button {
  height: auto;
  width: auto;
  background-color: #cbc3b5;
  text-decoration: none;
}

.sound-button:hover {
  background-color: #9e978a;
}

.button1 {
  margin-left: 110px;
  margin-bottom: 80px;
}

.button2 {
  margin-right: 55px;
}